.cabecalho {
    max-width: 100%;
    height: auto;
    background-color: #2f2f2f;
}

.cabecalho h1 {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.lista {
    width: 100%;
    background-color: #2f2f2f;
    display: flex;
    padding: 31.5px;
    align-items: center;
}

.lista a {
    padding: 32px;
    height: auto;
}

.lista a:hover {
    background-color: #3f3f3f;
}

.artistas {
    display: flex;
    gap: 100px;
    justify-content: center;
    padding-top: 50px;
}

.artistas h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.desc {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
} 

.desc p {
    width: 450px;
}

.barra {
    width: 40%;
    margin: 120px auto;
}